
<div role="tabpanel" class="tab-pane" id="analytics">
    <div class="general-info-wrap analytics-hdr-wrap padding-btn-0">
        <h3>ACTIVE USERS PER MONTH</h3>
    </div>
    <div class="prd-cap-list-wrap analytics-graph-wrap">
        <div class="carousel slide" id="myCarousel0">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="active-users-list clearfix">
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>jAN 2016</p></div>
                                <div class="graph-rate-wrap"><p>100</p></div>
                                <div class="graph-color-wrap" style="height: 15px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>FEBRUARY 2016</p></div>
                                <div class="graph-rate-wrap"><p>108</p></div>
                                <div class="graph-color-wrap" style="height: 18px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MARCH 2016</p></div>
                                <div class="graph-rate-wrap"><p>145</p></div>
                                <div class="graph-color-wrap" style="height: 58px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap selected">
                                <div class="date-wrap"><p>APRIL 2016</p></div>
                                <div class="graph-rate-wrap"><p>120</p></div>
                                <div class="graph-color-wrap" style="height: 36px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MAY 2016</p></div>
                                <div class="graph-rate-wrap"><p>130</p></div>
                                <div class="graph-color-wrap" style="height: 48px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>JUNE 2016</p></div>
                                <div class="graph-rate-wrap"><p>133</p></div>
                                <div class="graph-color-wrap" style="height: 54px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="active-users-list clearfix">
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>jAN 2016</p></div>
                                <div class="graph-rate-wrap"><p>100</p></div>
                                <div class="graph-color-wrap" style="height: 15px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>FEBRUARY 2016</p></div>
                                <div class="graph-rate-wrap"><p>108</p></div>
                                <div class="graph-color-wrap" style="height: 18px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MARCH 2016</p></div>
                                <div class="graph-rate-wrap"><p>145</p></div>
                                <div class="graph-color-wrap" style="height: 58px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap selected">
                                <div class="date-wrap"><p>APRIL 2016</p></div>
                                <div class="graph-rate-wrap"><p>120</p></div>
                                <div class="graph-color-wrap" style="height: 36px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MAY 2016</p></div>
                                <div class="graph-rate-wrap"><p>130</p></div>
                                <div class="graph-color-wrap" style="height: 48px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>JUNE 2016</p></div>
                                <div class="graph-rate-wrap"><p>133</p></div>
                                <div class="graph-color-wrap" style="height: 54px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#myCarousel0" class="prev-btn"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#myCarousel0" class="nxt-btn"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="general-info-wrap analytics-hdr-wrap padding-btn-0">
        <h3>ACTIVE USERS PER DAY</h3>
    </div>
    <div class="prd-cap-list-wrap analytics-graph-wrap">
        <div class="carousel slide" id="myCarousel1">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="active-users-list clearfix">
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MON, 12 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>35</p></div>
                                <div class="graph-color-wrap" style="height: 57px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>TUE, 13 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>39</p></div>
                                <div class="graph-color-wrap" style="height: 67px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap selected">
                                <div class="date-wrap"><p>WED, 14 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>45</p></div>
                                <div class="graph-color-wrap" style="height: 91px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>THU, 15 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>42</p></div>
                                <div class="graph-color-wrap" style="height: 78px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>FRI, 16 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>39</p></div>
                                <div class="graph-color-wrap" style="height: 64px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>SAT, 17 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>38</p></div>
                                <div class="graph-color-wrap" style="height: 57px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="active-users-list clearfix">
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>MON, 12 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>35</p></div>
                                <div class="graph-color-wrap" style="height: 57px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>TUE, 13 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>39</p></div>
                                <div class="graph-color-wrap" style="height: 67px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap selected">
                                <div class="date-wrap"><p>WED, 14 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>45</p></div>
                                <div class="graph-color-wrap" style="height: 91px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>THU, 15 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>42</p></div>
                                <div class="graph-color-wrap" style="height: 78px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>FRI, 16 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>39</p></div>
                                <div class="graph-color-wrap" style="height: 64px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="single-graph-box-wrap">
                                <div class="date-wrap"><p>SAT, 17 JANUARY</p></div>
                                <div class="graph-rate-wrap"><p>38</p></div>
                                <div class="graph-color-wrap" style="height: 57px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#myCarousel1" class="prev-btn"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#myCarousel1" class="nxt-btn"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="general-info-wrap analytics-hdr-wrap padding-btn-0">
        <h3 style="border-bottom: 3px solid #e3e4eb; margin-bottom: 50px;">SET UP PASSWORDS BY OWNERS</h3>
    </div>
    <div class="prd-cap-list-wrap analytics-graph-wrap">
        <div class="lft-sec">
            <p>Duis faucibus, neque quis viverra auctor, orci nisl ultrices ligula, eu faucibus nulla eros et nisi. In rhoncus sem a elit convallis, scelerisque ornare sapien vulputate.</p>
            <ul class="general-info-from-wrap padding-btn-40">
                <li>
                    <div class="field-group md block-field">
                        <label class="field-label">From</label>
                        <input type="date" name="" value="" placeholder="">
                    </div>
                </li>
                <li>
                    <div class="field-group md block-field">
                        <label class="field-label">to</label>
                        <input type="date" name="" value="" placeholder="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="rgt-sec">
            <ul class="circle-graph">
                <li><p>75<sup>%</sup><span>Setted their <br> passwords</span></p></li>
                <li><img src="~/Content/images/graph-img.png" alt="Graph"></li>
                <li><p>25<sup>%</sup></p></li>
            </ul>
        </div>
    </div>
</div>
