

<div role="tabpanel" class="tab-pane" id="owners">
    <div class="general-info-wrap padding-btn-0 owners-form-wrap">
        <ul class="general-info-from-wrap padding-btn-40">
            <li>
                <div class="field-group sm">
                    <label class="field-label">First Name</label>
                    <input type="text" name="" value="" placeholder="">
                </div>
                <div class="field-group sm">
                    <label class="field-label">Last Name</label>
                    <input type="text" name="" value="" placeholder="">
                </div>
                <div class="field-group md">
                    <label class="field-label">Email</label>
                    <input type="email" name="" value="" placeholder="">
                </div>
                <div class="field-group submit-wrap">
                    <input type="submit" name="" value="Add">
                </div>
            </li>
        </ul>
    </div>
    <div class="prd-cap-list-wrap owners-list-wrap">
        <ul class="prd-cap-list-hdr-wrap">
            <li>
                <ul class="prd-cap-list-hdr">
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Email</li>
                </ul>
            </li>
        </ul>
        <ul class="prd-cap-list-dtl-wrap">
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
            <li>
                <ul class="prd-cap-list-dtl">
                    <li>John</li>
                    <li>Doe</li>
                    <li>jdoe@abcelec.com</li>
                    <li><a href="javascript:void(0);"><img src="~/Content/images/delete-icon.png" alt="Delete"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>